# {{ansible_managed}}

[Unit]
Description=NSQ nsqadmin service
After=network.target
Wants=network.target

[Service]
ExecStart={{ nsq_install_directory }}/{{ nsq_release }}/bin/nsqadmin {{ nsq_nsqadmin_opts }} {% if nsq_nsqlookupd %}{% for item in nsq_lookupd_http_addresses %}-lookupd-http-address={{ item }}:{{ nsq_lookupd_http_port }} {% endfor %}{% endif %}

KillSignal=SIGTERM
KillMode=process
TimeoutSec=30s
Restart=on-failure
RestartSec=10s
User={{ nsq_owner }}
Group={{ nsq_group }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target