# {{ansible_managed}}

[Unit]
Description=NSQ nsqd service
After=network.target
Wants=network.target

[Service]
ExecStart={{ nsq_install_directory }}/{{ nsq_release }}/bin/nsqd {{ nsq_nsqd_opts }} {% if nsq_nsqlookupd_install and nsq_lookupd_tcp_addresses | length > 0 %}{% for item in nsq_lookupd_tcp_addresses %}-lookupd-tcp-address={{ item }}:{{ nsq_lookupd_tcp_port }} {% endfor %}{% endif %}

Restart=always
RestartSec=20
TimeoutSec=300
User={{ nsq_owner }}
Group={{ nsq_group }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
